version: '3.9'

services:
  api:
    build: .
    container_name: assessment-backend
    ports:
      - '3001:3000'
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: redis
    ports:
      - '6379:6379'
