services:
  api:
    build: .
    container_name: assessment-backend
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      REDIS_HOST: redis
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: redis
    ports:
      - '6379:6379'
